<div class="container-login" style="margin-top:10vh">

  <div class="row">
    <h3> Aqui puedes postear desde reseñas, productos de los que te gustaria saber masás o temas de los que te interesaria que hablemos en esta pagina:</h3>
    <form action="/blog/posteos/agregar" method="post">
      <div class="mb-3 row">
        <p>Titulo</p>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="inputTitulo"
            name="titulo"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-10">
          <p>Posteo</p>
          <input
            type="text"
            class="form-control"
            id="inputPosteo"
            name="cuerpo"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    {{#if error}}
      <p>{{message}}</p>
    {{/if}}
  </div>
</div>