<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Mr+Dafoe&family=Rajdhani&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/4.0.0/iconfont/material-icons.min.css"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/f51061c0f6.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="holder">
        <img src="/images/logo.png" alt="logo" />
        <h1>Realzar nuestra belleza nunca fue tan simple</h1>
      </div>
    </header>

    {{{body}}}

    <footer>
      <p> Seguinos en nuestras redes:</p>
      <div class="social-icons">
        <ul>
          <li><a
              href="https:"
              www.facebook.com
              pame.carrizo.5
              target="_blank"
            ><img src="/images/iconos/facebook.png" alt="icon facebook" />
            </a></li>
          <li><a
              href="https:"
              www.instagram.com
              pamela_carrizo
              ?hl
              target="_blank"
            ><img src="/images/Iconos/instagram.png" alt="icon instagram" />
            </a></li>
          <li><a href="https:" www.tiktok.com @pame_carrizo target="_blank"><img
                src="/images/iconos/tik tok.png"
                alt="icon tiktok"
              />
            </a></li>
          <li><a href="https:" twitter.com Pamecarrizo24 target="_blank"><img
                src="/images/iconos/twitter.png"
                alt="icon twitter"
              />
            </a></li>
          <li><a
              href="https:"
              www.youtube.com
              channel
              UCVUZhVhnrGPYRH0oLW8sclA
              target="_blank"
            ><img src="/images/iconos/youtube.png" alt="icon youtube" />
            </a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>